.contacts{
    display: flex;
    border: solid ;
    padding: 15px;
    align-items: center;
   justify-content: space-between;
    max-width: 300px;
}
.descr{
    display: flex;
    align-items: center;
   
}